PORT=5050
DATABASE_URL=postgresql://postgres:123456@localhost:5432/siira-core-db?schema=public
ALLOWED_ORIGINS=http://localhost:5173

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false
